.body-Container{
display: grid;
grid-template-columns: 3fr 1fr;



background-image: url('https://thumbs.dreamstime.com/b/futuristic-hud-globe-world-global-technology-vector-background-network-digital-tech-192730786.jpg');
}

.participants{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 10px;
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    
}

.cart-container{
    
    margin-left: 20px;
    margin-right: 50px;
}

.cart-header{
    border-bottom: 2px solid lightgrey;
    color: white;
}

.join-btn{
    width: 75%;
    height: 30px;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    background-color: goldenrod;
    cursor: pointer;
}