.person-added img{
    width: 50px;
    margin-right: 10px;
}
.person-added{
    display: flex;
  background-color: rgba(127, 168, 255, 0.541);
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
    
    border-radius: 5px;
}